<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Coding Challenges Library</title>
  </head>
  <body>
    <h1>Coding Cahllenges</h1>
    <hr />
    <ul>
      <li>
        <a href="http://localhost:8080/projects/maze-generator"
          >Maze Generator</a
        >
      </li>
      <li><a href="http://localhost:8080/projects/sudoku">Sudoku</a></li>
    </ul>
  </body>
</html>
